<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALiPayTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD53F5CB1C8C9AF80000FC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD53F5E41C8C9AF90000FC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD53F5EF1C8C9AF90000FC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
